<h2>Customer List</h2>
<ul>
    <!--creamos un objeto customer de tipo customer y hacemos una
    iteración de dato por dato -->
    <li *ngFor="let c of customers"> 
        {{c.id}} - {{c.firstName}} - {{c.lastName}} - {{c.email}}
    </li>
</ul>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">email</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let c of customers">
      <th scope="row">{{c.id}}</th>
      <td>{{c.firstName}}</td>
      <td>{{c.lastName}}</td>
      <td>{{c.email}}</td>
    </tr>
    
  </tbody>
</table>