
<!-- <ul>
    creamos un objeto customer de tipo customer y hacemos una
    iteración de dato por dato 
    <li *ngFor="let c of customers"> 
        {{c.id}} - {{c.firstName}} - {{c.lastName}} - {{c.email}}
    </li>
    
</ul>  -->
<div class="container">
  <h2>Customer List</h2>
  <!-- El routerLink es una directiva de Angular que se utiliza para navegar entre diferentes rutas en una aplicación Angular. -->
  <a  class="btn btn-primary" routerLink="/customers/add"> Crear Customer</a>
  <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">email</th>
      <th scope="col">Eliminar</th>
      <th scope="col">Editar</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let c of customers">
      <th scope="row">{{c.id}}</th>
      <td>{{c.firstName}}</td>
      <td>{{c.lastName}}</td>
      <td>{{c.email}}</td>
      <td><button class="btn btn-danger" (click)="deleteCustomer(c.id)">Eliminar</button></td>
      <td><button class="btn btn-warning" [routerLink]="['/customers/edit', c.id]">Editar</button></td>
    </tr>
    
  </tbody>
</table>
</div>
