<div class="container">
    <h2>Crear Customer</h2>
    <form>
        <div class="mb-3">
            <label for="firstName" class="form-label">First Name</label>
            <input [(ngModel)]="firstName" class="form-control" id="firstName"  name="firstName">
        </div>
        <div class="mb-3">
            <label for="lastName" class="form-label">Last Name</label>
            <input [(ngModel)]="lastName" class="form-control" id="lastName"  name="lastName">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input [(ngModel)]="email" class="form-control" id="email" name="email">
        </div>
        <!-- El boton de submit, que al hacer click se ejecuta el metodo createCustomer() -->
        <button type="submit" class="btn btn-primary" (click)="addCustomer()">Crear</button>
    </form>
</div>